#middle-section .app-card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
  width: 45%;
  padding: 0;
  margin: 0 2.5%;
  margin-bottom: 4%;
  float: left;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

#middle-section .app-card img {
  width: 50%;
  height: 100%;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
}

#middle-section .app-card p {
  width: 50%;
  height: 100%;
  padding: 15% 5%;
  text-align: center;
  float: left;
}

.afspraak {
  padding: 3%;
  margin: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
  color: #fff;
}

.afspraak small {
  float: right;
}

.afspraak:active,
.afspraak:hover {
  color: #fff;
  text-decoration: none;
}

.tracks {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tracks .active {
  background-color: #3E78B2;
}

.track {
  padding: 3%;
  margin: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
  color: #fff;
}

.track:active,
.track:hover {
  color: #fff;
  text-decoration: none;
}

.radiozender {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
  width: 45%;
  padding: 0;
  margin: 0 2.5%;
  margin-bottom: 4%;
  float: left;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.radiozender img {
  width: 50%;
  height: 100%;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
}

.radiozender p {
  width: 50%;
  height: 100%;
  padding: 15% 5%;
  text-align: center;
  float: left;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-size: 13px;
  font-weight: 300;
}

.poi {
  width: 40%;
  padding: 3%;
  margin-left: 2.5%;
  margin-right: 5%;
  margin-bottom: 5%;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background: #3E78B2;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #3E78B2;
          box-shadow: 0 0 1px #3E78B2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.modal-content {
  background-color: transparent;
  border: 0;
}

.modal-lg {
  max-width: 90% !important;
}

.modal-backdrop.fade.show {
  opacity: 0.9;
}

.no-btn {
  background-color: transparent;
  color: #fff;
  border: none;
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #1e7e34;
}

.varia-section {
  background: #000;
  margin-bottom: 3%;
  padding: 5%;
}

body,
html {
  background-color: black;
  overflow: hidden;
}

.first-div {
  max-width: 100%;
  overflow: hidden;
  background-color: #000;
  height: 100vh;
  color: #fff;
}

.section__padding {
  padding: 2%;
}

.droppable {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.o-min {
  opacity: 0.3;
}

#top-section {
  height: 5vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.5%;
}

#top-section #greeting,
#top-section #time {
  font-size: 1.3em;
}

#top-section a {
  color: #fff;
}

.active-nav {
  opacity: 1 !important;
}

.active-nav-left-col {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
  background-color: #3E78B2;
}

#middle-section {
  height: 87.5vh;
}

#middle-section #nav {
  padding: 2%;
  text-align: center;
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.25), transparent);
}

#middle-section #nav .icon {
  opacity: 0.4;
}

#middle-section #nav #map {
  height: 100%;
}

#middle-section #middle-content {
  padding: 0 4%;
}

#middle-section .card {
  margin-bottom: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
}

#middle-section .music-photo {
  padding: 0;
}

#middle-section .music-photo img {
  width: 100%;
}

#middle-section .img-contact {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#middle-section .contact-person {
  margin: 5% 0;
}

#middle-section .left-column {
  border-right: 2px solid rgba(199, 197, 197, 0.52);
  padding-left: 4%;
  text-align: center;
}

#middle-section .left-column a,
#middle-section .left-column p {
  font-size: 1.2em;
  color: #fff;
  padding: 7.5%;
  float: left;
  clear: both;
  width: 100%;
}

#middle-section #player {
  margin-top: 6%;
}

#middle-section #suspensionCheck {
  margin-left: 15%;
}

#middle-section .form-check {
  margin: 10% 0;
}

#middle-section .no-margin {
  margin: 0;
}

input[type="radio"]:checked {
  background-color: #000;
}

.heat {
  margin-left: 10%;
}

.heat-right {
  margin-right: 10%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.music-block {
  cursor: move;
}

.nav-form input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 7.5%;
}

.nav-form button {
  float: right;
  padding: 1% 5%;
  border-radius: 0;
  background-color: #000;
  color: #fff;
}

#bottom-section {
  height: 5vh;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.gmnoprint a,
.gmnoprint span,
.gmnoprint {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

