#middle-section .app-card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
  width: 45%;
  padding: 0;
  margin: 0 2.5%;
  margin-bottom: 4%;
  float: left;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

#middle-section .app-card img {
  width: 50%;
  height: 100%;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
}

#middle-section .app-card p {
  width: 50%;
  height: 100%;
  padding: 15% 5%;
  text-align: center;
  float: left;
}

.tracks {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.track {
  padding: 3%;
  margin: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
}

.modal-content {
  background-color: transparent;
  border: 0;
}

.modal-lg {
  max-width: 90% !important;
}

.no-btn {
  background-color: transparent;
  color: #fff;
  border: none;
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #1e7e34;
}

.varia-section {
  background: #000;
  margin-bottom: 3%;
  padding: 5%;
}

body,
html {
  background-color: black;
  overflow: hidden;
}

.first-div {
  max-width: 100%;
  overflow: hidden;
  background-color: #000;
  height: 100vh;
  color: #fff;
}

.section__padding {
  padding: 2%;
}

.droppable {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.o-min {
  opacity: 0.3;
}

#top-section {
  height: 5vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.5%;
}

#top-section #greeting {
  font-size: 1.3em;
}

#top-section a {
  color: #fff;
}

.active-nav {
  opacity: 1 !important;
}

.active-nav-left-col {
  background-color: rgba(255, 255, 255, 0.2);
}

#middle-section {
  height: 87.5vh;
}

#middle-section #nav {
  padding: 2%;
  text-align: center;
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.25), transparent);
}

#middle-section #nav .icon {
  opacity: 0.4;
}

#middle-section #nav #map {
  height: 100%;
}

#middle-section #middle-content {
  padding: 0 4%;
}

#middle-section .card {
  margin-bottom: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.2)), to(rgba(17, 17, 17, 0.9)));
  background: linear-gradient(to bottom, rgba(126, 126, 126, 0.2), rgba(17, 17, 17, 0.9));
}

#middle-section .music-photo {
  padding: 0;
}

#middle-section .music-photo img {
  width: 100%;
}

#middle-section .img-contact {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#middle-section .contact-person {
  margin: 5% 0;
}

#middle-section .left-column {
  border-right: 2px solid rgba(199, 197, 197, 0.52);
  padding-left: 4%;
  text-align: center;
}

#middle-section .left-column a,
#middle-section .left-column p {
  font-size: 1.2em;
  color: #fff;
  padding: 7.5%;
  float: left;
  clear: both;
  width: 100%;
}

#middle-section #player {
  margin-top: 6%;
}

#middle-section #suspensionCheck {
  margin-left: 15%;
}

#middle-section .form-check {
  margin: 10% 0;
}

#middle-section .no-margin {
  margin: 0;
}

input[type="radio"]:checked {
  background-color: #000;
}

.heat {
  margin-left: 10%;
}

.heat-right {
  margin-right: 10%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.music-block {
  cursor: move;
}

.nav-form input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 7.5%;
}

.nav-form button {
  float: right;
  padding: 1% 5%;
  border-radius: 0;
  background-color: #000;
  color: #fff;
}

#bottom-section {
  height: 5vh;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.gmnoprint a,
.gmnoprint span,
.gmnoprint {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

