@import "variables";

#middle-section {
  .app-card {
    background-color: $white;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 1%;
    float: left;
    img {
      width: 50%;
      float: left;
    }
    p {
      width: 50%;
      padding: 5%;
      float: left;
    }
  }
}