@import "variables";


.afspraak {
  padding: 3%;
  margin: 1%;
  background: $gradient;
  color: $white;


  small {
    float: right;
  }

  &:active, &:hover {
    color: $white;
    text-decoration: none;
  }
}

.appointments {
  height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}