@import "variables";

.modal-content {
  background-color: transparent;
  border: 0;
}

.modal-lg {
  max-width: 90% !important;
}

.modal-backdrop.fade.show {
  opacity: 0.9;
}

.no-btn {
  background-color: transparent;
  color: $white;
  border: none;
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #1e7e34;
}

.varia-section {
  background: $black;
  margin-bottom: 3%;
  padding: 5%;
}

.addDriver {
  color: $grey;
  margin-top: 5%;
  opacity: 0.5;
  font-size: 0.5em;
}

.close {
  color: $white;
  opacity: 1;
}