@import "variables";
@import "apps";
@import "kalender";
@import "muziek";
@import "navigatie";
@import "stats";
@import "telefoon";
@import "modal";

body, html {
  background-color: black;
  overflow: hidden;
}
.first-div {
  max-width: 100%;
  overflow: hidden;
  background-color: $black;
  height: 100vh;
  color: $white;
}

.section__padding {
  padding: 2%;
}

.droppable {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.o-min {
  opacity: 0.3;
}

#top-section {
  height: 5vh;
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 1.5%;

  #greeting {
    font-size: 1.3em;
  }
  a {
    color: $white;
  }
}

.active-nav {
  opacity: 1 !important;
}

.active-nav-left-col {

  background-color: rgba(255,255,255,0.2);

}

#middle-section {
  height: 87.5vh;

  #nav {
    padding: 2%;
    text-align: center;
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.25), transparent);
    .icon {
      opacity: 0.4;
    }
    #map {
      height: 100%;
    }
  }

  #middle-content {
    padding: 0 4%;

  }

  .card {
    margin-bottom: 2%;
    background: $gradient;
  }

  .music-photo {
    padding: 0;
    img {
      width: 100%;
    }
  }

  .img-contact {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
  }

  .contact-person {
    margin: 5% 0;
  }

  .left-column {
    border-right: 2px solid rgba(199, 197, 197, 0.52);
    padding-left: 4%;
    text-align: center;
    a, p {
      font-size: 1.2em;
      color: $white;
      padding: 7.5%;
      float: left;
      clear: both;
      width: 100%;
    }
  }


  #player {
    margin-top: 6%;
  }
  #suspensionCheck {
    margin-left: 15%;
  }

  .form-check {
    margin: 10% 0;
  }





  .no-margin {
    margin: 0;
  }

}

input[type="radio"] {

  &:checked {
    background-color: $black;
  }
}
.nav-block .row {
  //height: 100%;
}

.heat {
  margin-left: 10%;
}

.heat-right {
  margin-right: 10%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.music-block {
  cursor: move;
}

.nav-form {
  input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $white;
    margin-bottom: 7.5%;
  }

  button {
    float: right;
    padding: 1% 5%;
    border-radius: 0;
    background-color: $black;
    color: $white;
  }
}

#bottom-section {
  height: 5vh;
  background-color: $black;
  color: $white;
  text-align: center;

}

.gmnoprint a, .gmnoprint span, .gmnoprint {
  display: none;
}

.gmnoprint div {
  background: none !important;
}